body{
    background-color: #CCCCCC;
}
button{
    background-color: #1D0C20;
    color: #CCCCCC;
    border: none;
    margin: auto;
    padding: 0.6rem 3.3rem;
    border-radius: 3px;
    width: 100%;
    
}
button:hover,
button:active
{
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #631E6F;
    transition: 500ms;
}
.inputs{
    width: 80%;
    margin: 0 auto;
    padding: 0.2rem;
    margin-bottom: 1.2rem;
    border-radius: 0.18rem;
    border: none;
    
    
}
.container{
    background-image: linear-gradient(to bottom, #2A0F2F, #631E6F) ;
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    padding: 0.3rem  1.1rem;
    width: 540px;
    border-radius: 0.3rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title{
    color: #FFD223;
    
    font-size: 1.5rem;
    font: weight 0.06rem;;
    margin-bottom: 0.6rem;
    }
.sub-dados{
    margin-top: 1.8rem;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #631E6F, #2A0F2F) ;
    padding: 0.75rem;
    border-radius: 0.31rem;
}
.text{
    color: #CCCCCC;
    font-size: 0.8rem;
    margin-top: 0.8rem;
}
.sub-title{
    color: #CCCCCC;
    
    font-size: 1.3rem;
    font-weight:0.06rem;
    margin-bottom: 1.5rem;
}
.footer{
    color: #CCCCCC;
    font-size: 0.6rem;
    margin-top: 0.25rem;
    

}
.enquete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bloco{
    background-image:linear-gradient(to bottom, #5085F4,#70C7FE);
    
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:0.3rem 0.3rem;
          
          
}
.border-bloco{
    background-image:linear-gradient(to bottom, #2638DB,#342988);
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: 140px;
    
}
.text-enquete{
    color: white;
    
    font-size: 1.31rem;
    font: weight 0.06rem;;
    
}
@media screen and (max-width: 375px){
    html{
        font-size: 14px;
    }
    .enquete{
        flex-direction: column;
    }
    .container{
        width: 95%;
    }
    .bloco{
        width: 100%;
        box-sizing: border-box;
    }
    .border-bloco{
        width: 100%;
        box-sizing: border-box;
    }
}